KAFKA_BROKER=kafka:29092
TOTAL_NODES=3
TRANSACTIONS_TOPIC=transactions
BLOCKS_TOPIC=blocks
MINING_JOBS_TOPIC=mining_jobs
FOUND_BLOCKS_TOPIC=found_blocks
BATCH_SIZE=3
MINING_TIMEOUT_SECONDS=30
JITTER_MAX_SECONDS=5
PUBLIC_KEY=44167271d780efd9cd346768b8442ae1bf695b6257eeaebd3ae2b4c4c440d399